.day {
  font-weight: 700;
}

p {
  margin: 0;
  font-size: 12px;
  color: #828282;
}

.times {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 15%;

  p {
    font-size: 16px;
  }

}

.details {
  padding-left: 8px;

  .title {
    font-size: 16px;
    overflow-wrap: break-word;
  }

}


.grid {
  display: flex;
  flex-direction: row;

  .divider {
    background: gray;
    width: 2px;
  }
}

ion-card {
  // border-radius: 20px;
  --background: #fff;
}

.title, .start {
  color: black;
  font-weight: 500;
}

ion-item.all {
  height: 60px;
}