<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Schedule</ion-title>
    <ion-avatar slot="primary" routerLink="/home">
      <img src="./../../assets/imgs/uwi_logo.png" class="school-logo">
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="accent-text uwi">UWI</div>
  <div class="accent-text mona">Mona</div>
  <h1 class="ion-padding ion-margin-vertical day">{{ selectedDay }}</h1>

  <div *ngIf="selectedDay === 'All'">
    <ion-card mode="ios">
      <ion-list>
        <ion-item 
          *ngFor="let course of courses" 
          (click)="toCourseDesc(course)" class="all" detail>
          <ion-label>{{ course }}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card>
  </div>

  <ion-card *ngFor="let s of selectedSegments" mode="ios">
    <ion-grid>
      <div class="grid">
      
        <div class="times">
          <p class="start">{{ s.START_TIME }}</p>
          <p class="end">{{ s.END_TIME }}</p>
        </div>

        <div class="divider"></div>

        <div class="details">
          <p class="title">{{ s.COURSE_TITLE }}</p>
          <p class="type">{{ s.TYPE }}</p>
          <p class="instructor">{{ s.INSTRUCTOR }}</p>
          <p class="location">{{ s.ROOM }}</p>
        </div>

      </div>
    </ion-grid>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-segment (ionChange)="onSelectDay($event)" scrollable mode="md" [value]=today>
      <ion-segment-button *ngFor="let day of days" mode="md" [value]="day">
        <ion-label>{{ day }}</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-footer>
