
.background {
  background-image: url("../../assets/imgs/uwi_login.jpg");
  background-position: center;
  position: fixed;
  top:0;
  left: 0;
  right: 0;
  height: 100%;
  background-size: cover;

  &::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background:linear-gradient(1deg, #122A43 0%, #0B1D2F 100%);
    opacity: 0.6;
  }
}

ion-grid {
  z-index: 99;
}

img {
  display: block;
  width: 30%;
  margin: 20% auto 0 auto;

}

p, h1{
  color: white;
  font-family: 'Rufina', serif;
}

p {
  margin: 0;
}

h1 {
  font-size: 50px;
  font-stretch: expanded;
}

ion-row.text {
  margin-bottom: 20%;
  margin-top: -20%;
}

ion-button {
  height: 40px;
}
