<ion-header>
  <ion-toolbar>
    <ion-buttons defaultHref="/home" slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Parking</ion-title>
    <ion-avatar slot="primary" routerLink="/home">
      <img src="./../../assets/imgs/uwi_logo.png" class="school-logo">
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content forceOverscroll="true">
  <ion-grid>
    <ion-row>
      <ion-col size-md="8" offset-md="2">

        <ion-card *ngFor="let lot of lots">
          <ion-item no-lines>
            <ion-thumbnail slot="start">
              <ion-img [src]="lot.img_url"></ion-img>
            </ion-thumbnail>
            <ion-label>
              <p>{{ lot.name }}</p>
            </ion-label>
            <ion-button slot="end" fill="clear" (click)="onLocate(lot.name)">Locate</ion-button>
          </ion-item>
        </ion-card>
        
      </ion-col>
    </ion-row>
  </ion-grid>
  

</ion-content>
