<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-avatar slot="primary" routerLink="/home">
      <img src="./../../assets/imgs/uwi_logo.png" class="school-logo">
    </ion-avatar>
    <ion-title>Map</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-searchbar></ion-searchbar> -->
  <div id="mapId"></div>

  <ion-fab vertical="bottom" horizontal="end">
    <!-- <button ion-fab color="danger"><ion-icon name="search"></ion-icon></button> -->
    <ion-fab-button color="danger">
      <ion-icon  name="search"></ion-icon>
    </ion-fab-button>

    <ion-fab-list side="top">
      <ion-fab-button color="danger" (click)="loadMarkers(4)">
        <ion-icon name="bus"></ion-icon>
      </ion-fab-button>

      <ion-fab-button color="danger" (click)="loadMarkers(3)">
        <ion-icon name="restaurant"></ion-icon>
      </ion-fab-button>

      <ion-fab-button color="danger" (click)="loadMarkers(2)">
        <ion-icon name="man"></ion-icon>
      </ion-fab-button>

      <ion-fab-button color="danger" (click)="loadMarkers(1)">
        <h1 class="ion-text-center icon">P</h1>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="start">
    <ion-fab-button color="danger" (click)="locateMe()">
      <ion-icon name="locate"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
