#mapId {
  width: 100vw;
  height: 100%;
}

.gps-ring {
  border-radius: 50%;
  height: 16px;
  width: 16px;
  background: var(--ion-color-uwi);//#A80216;
  position: relative;
}

.gps-ring::after {
  content: '';
  position: absolute;
  left: -4px;
  top: -4px;
  border: 3px solid var(--ion-color-uwi-tint);//rgb(181, 51, 66);
  border-radius: 50%;
  height: 18px;
  width: 18px;
  animation: pulsate 1.75s ease-out infinite;
}

@keyframes pulsate {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}

ion-fab-button {
  margin-bottom: 24px;
}