ion-toolbar {
  // --background: none;
  --border-style: none;
}

// .accent-text {
//   opacity: 0.18;
//   font-family: 'Graduate', cursive;
//   font-size: 120px;
//   color: #B6B6B6;
//   letter-spacing: 4.15px;
//   position: absolute;

//   &.uwi {
//     left: -18px;
//     top: 64px;
//   }

//   &.mona {
//     right: -18px;
//     bottom: 64px;
//     // color: #F5F5F5;
//     letter-spacing: 3.63px;
//   }
// }

.title {
  font-size: 2em;
  margin-bottom: 2.5em;
  margin-top: 15%;
}

ion-item {
  --background: none;
}

.login-btn {
  --background: var(--ion-color-uwi);
}

.btn-row {
  margin-top: 2em;
}

