<ion-header mode="ios"translucent>
  <ion-toolbar color="primary-contrast">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/auth"></ion-back-button>
    </ion-buttons>
    <!-- <ion-title>login</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="accent-text uwi">UWI</div>
  <div class="accent-text mona">Mona</div>


  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <ion-grid>
      <ion-row class="title">
        <ion-col size-xs="6" offset-xs="3" text-center>
          <h1>Login</h1>
        </ion-col>
      </ion-row>
  
      <ion-row>
        <ion-col size-xs="8" offset-xs="2">
          <ion-item>
            <ion-label position="floating">Id Number</ion-label>
            <ion-input type="text" ngModel name="idNum" required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      
      <ion-row>
        <ion-col size-xs="8" offset-xs="2">
          <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input type="password" ngModel name="password" required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
  
      <ion-row class="btn-row">
        <ion-col size-xs="6" offset-xs="3">
          <ion-button class="login-btn" expand="block" shape="round" type="submit" 
            [disabled]="!f.valid">Login</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

</ion-content>
