<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>News and Events</ion-title>
    <ion-avatar slot="primary" routerLink="/home">
      <img src="./../../assets/imgs/uwi_logo.png" class="school-logo">
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="top">

      <ion-tab-button tab="news">
        <ion-icon name="Paper"></ion-icon>
        <ion-label>News</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="events">
        <ion-icon name="flag"></ion-icon>
        <ion-label>Events</ion-label>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>

</ion-content>
