// ion-header {
//   background: var(--ion-color-uwi);
// }

// ion-tab-bar {
//   --background: #a80216;
//   --color: #000;

  

//   &.tab-selected {
//     ion-label {
//       --color: #fff;
//     }
//   }

 
// }