.course-block-container {
  list-style: none;
  display: flex;
  overflow-x: scroll;
  position: relative;
  border-left: 2px solid var(--ion-color-uwi);
}

.course-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 8px 0 8px;
  height: 95px;
  border-left: 1px solid rgba(0, 0, 0, 0.08);
}