<div class="ion-margin-vertical">
  <h3 class="text-semibold text-lg">Here is today's schedule</h3>
  <span class="ion-no-margin text-semibold">{{ displayTime }}</span>
  <div #courseBlockContainer class="course-block-container">
    <div *ngFor="let course of todaysCourses">
      <div #courseBlock [ngClass]="isBetweenHours(course.START_TIME, course.END_TIME)
          ? 'course-block bg-pink text-white'
          : 'course-block bg-gray'">
        <span>{{ course.COURSE_CODE }}</span>
        <span>{{ course.TYPE }}</span>
        <span>{{ course.ROOM_CODE }}</span>
      </div>
    </div>
  </div>
</div>