<ion-grid class="text-sm text-regular ion-no-padding ion-margin-bottom">
  <ion-row>
    <ion-col class="ion-no-padding">
      <h2 class="text-medium">Today is <br><span class="text-semibold text-lg">{{ displayDate }}</span></h2>
    </ion-col>
  </ion-row>
  <ion-row class="bg-gray rounded">
    <ion-col *ngFor="let day of daysOfWeek" [ngClass]="(dayOfWeek === day) ? 'ion-text-center current-day-badge rounded' : 'ion-text-center'">{{ day }}</ion-col>
  </ion-row>
  <ion-row>
    <ion-col *ngFor="let day of daysThisCalendarWeek" class="ion-text-center">
      <span [ngClass]="(calendarDayDate == day) ? 'calendar-day-number--active' : 'calendar-day-number'">
        {{ day }}
      </span>
    </ion-col>
  </ion-row>
</ion-grid>
