.calendar-day-number::after, .calendar-day-number--active::after {
  content: '';
  width: 15px;
  height: 15px;
  border-radius: 12px;
  position: absolute;
  left: -6px;
  bottom: 4px;
  z-index: -1;
  opacity: .40;
}

.calendar-day-number::after {
  background: pink;
}

.calendar-day-number--active::after {
  background: red;
  width: 22px;
  height: 22px;
  bottom: 0px;
  left: -5px;
}

.calendar-day-number--active {
  color: #fff;
}

.calendar-day-number, .calendar-day-number--active {
  position: relative;
  z-index: 1;
}

.current-day-badge {
  background: rgba(255, 0, 0, 0.4);
  color: #fff;
}