<ion-header>
  <ion-toolbar>
    <ion-buttons defaultHref="/home" slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Directory</ion-title>
    <ion-avatar slot="primary" routerLink="/home">
      <img src="./../../assets/imgs/uwi_logo.png" class="school-logo">
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h1>Categories</h1>
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3">

        <ion-card mode="ios">
          <ion-list>
            <ion-item *ngFor="let cat of categories" detail>
              <ion-label>{{ cat }}</ion-label>
            </ion-item>
          </ion-list>
        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="search`"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
