// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These 
// styles are for the entire app and not just one component. Additionally, this 
// file can hold Sass mixins, functions, and placeholder classes to be imported 
// and used throughout the application.

.school-logo {
  position: relative;
  top: -2px;
  height: 56px;
}

ion-avatar {
  width: 40px;
  height: 40px;
}

ion-header ion-toolbar {
  padding: 0 12px;

  school-logo {
    position: relative;
    top: -2px;
    height: 56px;
  }
  
  ion-avatar {
    width: 40px;
    height: 40px;
  }
}

/** DISPLAY UTILITES **/
.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}
/****/

/** TEXT UTILITIES **/
.text-lg {
  font-size: 125%;
}

.text-sm {
  font-size: 80%;
}

.text-bold {
  font-weight: 700;
}

.text-semibold {
  font-weight: 600;
}

.text-medium {
  font-weight: 500;
}

.text-regular {
  font-weight: 400;
}

.text-muted {
  color: rgb(150, 150, 150);
}

.text-white {
  color: #fff;
}
/****/

/** COLOR UTILITIES **/
.bg-gray {
  background: #EDF2F7;
}

.bg-white {
  background: #fff;
}

.bg-pink {
  background: rgba(255, 0, 0, 0.4);
}
/****/

/** BORDER UTILITIES **/
.rounded {
  border-radius: 100px !important;
}

.rounded-left {
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}

/****/

/** SIZING UTILITIES **/
.full-width {
  width: 100%;
}
/****/

/** SHADOW UTILITIES **/
.shadow-1 {
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.1);
}
/****/

/** BORDER UTILITIES **/
.border-left-1 {
  border-left: 2px solid rgba(255, 0, 0, 0.4);
}
/****/

/** SPACING UTILITIES **/
.px-12 {
  padding: 0 12px;
}

.spaced-text {
  letter-spacing: 1px;
}
/****/

.sidemenu-avatar {
  width: 100px;
  height: 100px;
}

ion-toolbar {
  --background: var(--ion-color-uwi);
  --color: var(--ion-color-uwi-contrast);
}

ion-segment-button {
  --color: var(--ion-color-uwi-contrast);
  --indicator-color-checked: #fff;
  --color-checked: #fff;
  --color: rgb(214, 214, 214);
}

// Font styles

.fw-light {
  font-weight: 200 !important;
}

.fw-semibold {
  font-weight: 600 !important;
}

.fw-bold {
  font-weight: 700 !important;
}

.accent-text {
  opacity: 0.18;
  font-family: 'Graduate', cursive;
  font-size: 120px;
  color: #B6B6B6;
  letter-spacing: 4.15px;
  position: fixed;

  &.uwi {
    left: -18px;
    top: 64px;
  }

  &.mona {
    right: -18px;
    bottom: 64px;
    // color: #F5F5F5;
    letter-spacing: 3.63px;
  }
}

