<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu id="side-menu" *ngIf="isAuthenticated()" 
        type="push" contentId="main-content">
        <ion-header>
          <ion-toolbar></ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <div class="flex flex-column justify-content-center align-items-center">
            <div class="flex justify-content-center">
              <ion-avatar class="sidemenu-avatar">
                <img [src]="getUserPhoto()">
              </ion-avatar>
            </div>
            <h3 class="ion-margin-top">{{ getUser().LASTNAME | uppercase }}, {{ getUser().FIRSTNAME }}</h3>
            <div class="text-muted flex flex-column justify-content-center align-items-center">
              <span class="ion-no-margin spaced-text">{{ getUserId() }}</span>
              <span>{{ getUser().DEGREE }}</span>
              <span>{{ getUser().MAJOR }}</span>
              <span>{{ getUser().FACULTY }}</span>
            </div>
          </div>
        </ion-content>
        <ion-footer>
          <ion-button (click)="logout()" color="danger" expand="full">
              Logout
          </ion-button>
        </ion-footer>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
  