<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home/schedule"></ion-back-button>
    </ion-buttons>
    <ion-title>course-details</ion-title>
    <ion-avatar slot="primary" routerLink="/home">
      <img src="./../../assets/imgs/uwi_logo.png" class="school-logo">
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
