<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="getEvents($event)">
    <ion-refresher-content
      pullingText="Pull to refresh"
      refreshingText = "Refreshing..."
    ></ion-refresher-content>
  </ion-refresher>

  <ion-grid fixed>

    <ion-row>
      <ion-col size-md="6" offset-md="3">

        <ion-virtual-scroll [items]="events" *ngIf="events">
          <ion-card *virtualItem="let event" (click)="openLink(event.url)">
            <ion-card-header>
              <ion-card-subtitle>
                <p *ngIf="event.start_date === event.end_date">{{ event.start_date }}</p>
                <p *ngIf="event.start_date !== event.end_date">{{ event.start_date }} - {{ event.end_date }}</p>
              </ion-card-subtitle>
              <ion-card-title>{{ event.title }}</ion-card-title>
            </ion-card-header>
            <ion-img *ngIf="event.event_image" [src]="event.event_image"></ion-img>
          </ion-card>
        </ion-virtual-scroll>

        <div *ngIf="!events">
          <ion-card *ngFor="let i of [1,2,3,4,5,1,2,3,4,5]" >
            <ion-card-header>
              <ion-card-subtitle>
                <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
              </ion-card-subtitle>
              <ion-card-title>
                <ion-skeleton-text class="custom-skeleton" animated style="width: 100%"></ion-skeleton-text>
                <ion-skeleton-text class="custom-skeleton" animated style="width: 100%"></ion-skeleton-text>
              </ion-card-title>
            </ion-card-header>
          </ion-card>
        </div>
        
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>

<ion-footer>
  <ion-item>
    <ion-label>Faculty</ion-label>
    <ion-select placeholder="Select One" [(ngModel)]="selectedFaculty">
      <ion-select-option *ngFor="let faculty of faculties" [value]="faculty.code">{{ faculty.name }}</ion-select-option>
    </ion-select>
  </ion-item>
</ion-footer>
