<ion-content>

    <ion-refresher slot="fixed" (ionRefresh)="getNewsItems($event)">
      <ion-refresher-content
        pullingText="Pull to refresh"
        refreshingText = "Refreshing..."
      ></ion-refresher-content>
    </ion-refresher>

  <ion-grid fixed>

    <ion-row>
      <ion-col size-md="6" offset-md="3">
        
        <ion-virtual-scroll  [items]="newsItems" *ngIf="newsItems">
          <ion-card *virtualItem="let item" (click)="openLink(item.url)">
            <ion-card-header>
              <ion-card-subtitle>Posted {{ item.posted_on }}</ion-card-subtitle>
              <ion-card-title>{{ item.title }}</ion-card-title>
            </ion-card-header>
            <ion-img *ngIf="item.article_image" [src]="item.article_image"></ion-img>
          </ion-card>
        </ion-virtual-scroll>

        <div *ngIf="!newsItems">
          <ion-card *ngFor="let i of [1,2,3,4,5,1,2,3,4,5]" >
            <ion-card-header>
              <ion-card-subtitle>
                <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
              </ion-card-subtitle>
              <ion-card-title>
                <ion-skeleton-text class="custom-skeleton" animated style="width: 100%"></ion-skeleton-text>
                <ion-skeleton-text class="custom-skeleton" animated style="width: 100%"></ion-skeleton-text>
              </ion-card-title>
            </ion-card-header>
          </ion-card>
        </div>

      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>

<ion-footer>
  <ion-item>
    <ion-label>Faculty</ion-label>
    <ion-select placeholder="Select One" [(ngModel)]="selectedFaculty">
      <ion-select-option *ngFor="let faculty of faculties" [value]="faculty.code">{{ faculty.name }}</ion-select-option>
    </ion-select>
  </ion-item>
</ion-footer>
