.article-listing-img {
  width: 125px;
  height: 125px;
  // object-fit: cover;
}

.nav-item-icon {
  width: 45px;
  height: 45px;
}

ion-avatar {
  width: 40px;
  height: 40px;
}

ion-card-subtitle {
  --color: rgba(255, 0, 0, 0.4);
}

ion-card-title {
  font-size: 140%;
}