<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
    <ion-avatar (click)="openMenu()" slot="start">
      <img [src]="getUserPhoto()">
    </ion-avatar>
    <ion-avatar slot="primary" routerLink="/home">
      <img src="./../../assets/imgs/uwi_logo.png" class="school-logo">
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding-horizontal">
    <app-calendar></app-calendar>
    <app-timetable *ngIf="!isVisitor()"></app-timetable>
  </div>
  <div *ngIf="isVisitor()">
    <h2 class="text-medium ion-no-margin ion-margin-top ion-padding-horizontal">Here's what's happening on campus...</h2>
    <ion-slides [options]="slideOpts">
      <ion-slide *ngFor="let article of articles">
        <ion-card>
          <ion-img *ngIf="article.article_image" class="article-listing-img" [src]="article.article_image"></ion-img>
          <ion-card-header class="ion-text-start">
            <ion-card-subtitle>Posted on {{ article.posted_on }}</ion-card-subtitle>
            <ion-card-title>{{ article.title }}</ion-card-title>
          </ion-card-header>
        </ion-card>      
      </ion-slide>
    </ion-slides>
  </div>
  <div class="ion-padding-horizontal">
    <h2 class="text-medium ion-no-margin ion-margin-top">Are you looking for something else?</h2>
  </div>
  <ion-grid>
    <ion-row class="ion-margin-vertical" *ngFor="let item of navItems">
      <ion-col routerLink="{{ item.link }}" class="flex justify-content-between align-items-center bg-gray rounded-left ion-padding-horizontal" size="9" offset="3">
        <span>{{ item.title }}</span>
        <ion-img class="nav-item-icon" src="{{ item.icon }}"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
